body {
  background-color: #ffccbb;
  font-family: sans-serif;
  font-size: medium;
  letter-spacing: 1px;
  margin: 10px;
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 6px;
}

td {
  background-color: #ffffff;
  border: 2px solid black;
}

img {
  display: block;
}

p {
  margin: auto;
}

p.no_box {
  margin-left: 6px;
}

h1 {
  font-size: 22px;
  margin-top: 5px;
}

h1.underscore {
  border-bottom: 1px solid gray;
}

h2 {
  font-size: 20px;
}

ul {
  margin-bottom: auto;
}

.img {
  display: block;
  vertical-align: top;
}

.box {
  background-color: #ffffff;
  border: 2px solid black;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 6px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
